<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment Details</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header>
        <h1>Deployment Details 🚀</h1>
    </header>
    <main>
        <p>This is a simple HTML page deployed using Docker, Azure, and Kubernetes.</p>
        <p>Here are the steps followed:</p>
        <ol>
            <li>Created an HTML page with deployment details.</li>
            <li>Containerized the HTML page using Docker.</li>
            <li>Deployed the Docker container to Azure Kubernetes Service (AKS).</li>
        </ol>
    </main>
    <footer>
        <p>For more information, check out the GitHub repository: <a
                href="https://github.com/As4d/azure-kubernetes-docker-demo">azure-kubernetes-docker-demo</a></p>
    </footer>
</body>

</html>